body{margin:0;padding:0;overflow-x:hidden;}
html, body{height:100%;}
img{border:none;}
*{font-family:'微软雅黑';font-size:12px;color:#626262;}
dl,dt,dd{display:block;margin:0;}
a{text-decoration:none;}

#bg{background-image:url(/img/content/dotted.png);}
.container{width:100%;height:100%;margin:auto;}

/*left*/
.leftsidebar_box{width:160px;height:auto !important;overflow:visible !important;position:fixed;height:100% !important;background-color:#3992d0;}
.line{height:2px;width:100%;background-image:url(/img/left/line_bg.png);background-repeat:repeat-x;}
.leftsidebar_box dt{padding-left:40px;padding-right:10px;background-repeat:no-repeat;background-position:10px center;color:#f5f5f5;font-size:14px;position:relative;line-height:48px;cursor:pointer;}
.leftsidebar_box dd{background-color:#317eb4;padding-left:40px;}
.leftsidebar_box dd a{color:#f5f5f5;line-height:20px;}
.leftsidebar_box dt img{position:absolute;right:10px;top:20px;}
.system_log dt{background-image:url(/img/left/system.png)}
.custom dt{background-image:url(/img/left/custom.png)}
.channel dt{background-image:url(/img/left/channel.png)}
.app dt{background-image:url(/img/left/app.png)}
.cloud dt{background-image:url(/img/left/cloud.png)}
.syetem_management dt{background-image:url(/img/left/syetem_management.png)}
.source dt{background-image:url(/img/left/source.png)}
.statistics dt{background-image:url(/img/left/statistics.png)}
.leftsidebar_box dl dd:last-child{padding-bottom:10px;}
